@use "../../../foundation/variables" as *;

.p-sidebarItem {
  background-color: #eeeeee;
  padding: 2rem;

  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }

  &__title {
    font-size: $fontM;
    text-align: center;
    font-weight: 500;
    margin-bottom: 2rem;

    &::before {
      content: "";
      display: block;
      width: 3rem;
      height: 1rem;
      margin-left: auto;
      border-right: 0.1rem solid #aaaaaa;
      border-top: 0.1rem solid #aaaaaa;
    }

    &::after {
      content: "";
      display: block;
      width: 3rem;
      height: 1rem;
      border-left: 0.1rem solid #aaaaaa;
      border-bottom: 0.1rem solid #aaaaaa;
    }
  }
}
