@use "@scss/foundation/variables" as *;

.p-top-faq {
  font-size: $fontM;
  background-color: #ffffff;

  &__inner {
    display: grid;
    gap: 6rem;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin-top: 6rem;

    @include mq-down(lg) {
      gap: 3rem;
    }

    @include mq-down() {
      display: block;
    }
  }

  &__left {
    grid-column: 1/2;
    grid-row: 1/2;
    @include mq-down() {
      display: none;
    }
  }

  &__right {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &__list {
    background-color: #ffffff;
    padding: 2rem 1rem;
    border-bottom: 0.1rem solid #aaaaaa;
    cursor: pointer;
  }

  &__list1 {
    border-top: 0.1rem solid #aaaaaa;
  }

  &__question {
    font-weight: 600;
    position: relative;
    padding: 0 1.5em 0 1.5em;

    &::before {
      content: "Q. ";
      color: $keyColor;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    svg {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: transform 0.3s;
    }
  }

  &__answer {
    display: grid;
    grid-template-rows: 0fr;
    transition:
      grid-template-rows 0.3s ease-out,
      padding 0.3s;
    background-color: #eeeeee;
    padding: 0 1rem 0 calc(1.3em + 1rem);
    position: relative;
    overflow-x: hidden;

    p {
      overflow-y: hidden;

      &::before {
        content: "A. ";
        font-weight: 600;
        color: #f29949;
        position: absolute;
        left: -10rem;
        top: 50%;
        transform: translateY(-50%);
        transition: left 0.3s ease-out;
      }
    }
  }

  .c-title1 {
    @include mq-down() {
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateX(-100%) translateY(-50%);
        width: 10rem;
        height: 10rem;
        background-image: url("~@img/man-with-green-tie.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    @include mq-down(sm) {
      &::before {
        width: 8rem;
        height: 8rem;
      }
    }
  }
}

.p-top-faq__list.is-open {
  .p-top-faq__question {
    svg {
      transform: rotate(180deg);
    }
  }

  .p-top-faq__answer {
    margin-top: 1em;
    grid-template-rows: 1fr;
    padding: 1rem 1rem 1rem calc(1.3em + 1rem);
    p {
      &::before {
        display: block;
        left: 1rem;
      }
    }
  }
}
