@use "@scss/foundation/variables" as *;

// メインビジュアル
.p-top-mainVisual {
  position: relative;
  min-height: calc(40rem + 5vw);
  display: flex;
  align-items: center;
  padding: 3rem 0;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    background-image: url("~@img/website-thumbnail.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    animation: fadeIn 3s ease-in-out forwards;

    &::after {
      @include mq-down() {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 1;
        background: #33333380;
      }
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: clamp(1.9rem, 1.5286rem + 1.1607vw, 3.2rem);
    font-weight: 700;
    margin-bottom: 0.8em;

    @keyframes flashing {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      border-right: 1rem solid #333;
      margin-left: 0.5em;
      animation: flashing 1s linear infinite;
      opacity: 0;

      @include mq-down() {
        border-right: 1rem solid #ffffff;
      }
    }

    @include mq-down() {
      text-align: center;
      color: #ffffff;
    }
  }

  &__text,
  &__buttons {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem);
    transition:
      opacity 0.3s,
      transform 0.3s;
    &.is-show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__text {
    @include mq-down() {
      color: #ffffff;
    }

    li {
      position: relative;
      padding-left: 1.2em;
    }

    svg {
      color: $subColor;
      position: absolute;
      top: 8%;
      left: 0;
    }

    p {
      margin-top: 0.3em;
      padding-left: 1.2em;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    max-width: 50rem;
    justify-content: space-between;
    margin-top: 1.5rem;
    gap: 1rem;

    @include mq-down() {
      max-width: initial;
    }

    @include mq-down(sm) {
      flex-direction: column;
    }
  }

  &__button {
    display: flex;
    padding: 2rem 0;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.6rem #aaaaaa;
    position: relative;
    top: 0;
    left: 0;
    transition:
      top 0.3s,
      left 0.3s;
    width: 50%;

    @include mq-down(sm) {
      width: 100%;
    }

    &:hover {
      top: 0.2rem;
      left: 0.2rem;
    }

    &--chatwork {
      background-color: #dcdcdc;

      img {
        width: 2rem;
        margin-right: 1rem;
      }
    }

    &--contact {
      background: $keyColor;
      color: #ffffff;
    }

    svg {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}
