@use "@scss/foundation/variables" as *;

.p-top-price {
  background: rgb(129, 209, 230);
  background: linear-gradient(
    0deg,
    rgba(129, 209, 230, 1) 0%,
    rgba(117, 204, 230, 1) 41%,
    rgba(157, 220, 237, 1) 100%
  );
  color: #ffffff;
  position: relative;
  overflow: hidden;

  &__plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 6rem;

    @include mq-down() {
      display: block;
    }
  }

  &__plan {
    background-color: #ffffff;
    color: #333333;
    padding: 6rem 3rem;
    border-radius: 1rem;
    position: relative;
    opacity: 0;
    top: -2rem;
    left: -1rem;
    box-shadow: 0.2rem 0.4rem 0.5rem #3f9ab3;
    transition:
      opacity 0.3s,
      top 0.3s,
      left 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq-down(lg) {
      padding: 4rem 2rem;
    }

    @include mq-down() {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }

    &:hover {
      box-shadow: 0.4rem 0.6rem 0.5rem #3f9ab3;
    }

    &.is-active {
      opacity: 1;
      top: 0;
      left: 0;
    }

    &--coding {
      .p-top-price__planTitle {
        background-color: #ffffff;
        color: #64ceeb;
        border: 0.1rem solid #64ceeb;
        box-sizing: border-box;
        border-radius: 2.5rem;
        padding: 0.8rem 2rem;
      }
    }

    &--maintenance {
      transition-delay: 0.3s;
      .p-top-price__planTitle {
        background-color: #64ceeb;
        color: #ffffff;
        border-radius: 2.5rem;
        padding: 0.8rem 2rem;
      }
    }
  }

  &__planTitle {
    font-size: $fontM;
    display: inline-block;
  }

  &__codingPrice {
    font-size: $fontM;
    margin: 3rem 0;
  }
  &__planTitle {
    margin-bottom: 3rem;
  }

  &__firstText {
    font-size: $fontM;
  }

  &__samples {
    font-size: $fontL;
    margin: 3rem 0;
    font-weight: 600;
  }

  &__sampleTitle {
    background-color: #eeeeee;
    text-align: center;
    padding: 0.5rem 0;
  }

  &__sampleDetail {
    text-align: center;
  }

  &__hosoku {
    margin-bottom: 3rem;
    font-size: $fontS;
    color: #666666;
  }

  &__bg {
    position: absolute;
    z-index: 1;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
}
