@use "@scss/foundation/variables" as *;

.p-top-promise {
  background: rgb(240, 240, 240);
  background: linear-gradient(
    82deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(239, 239, 239, 1) 57%
  );

  &__inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    position: relative;

    @include mq-down(lg) {
      display: block;
    }
  }

  &__items {
    margin-top: 6rem;

    @include mq-down(lg) {
      display: none;
    }
  }

  &__item {
    margin-bottom: 4.5rem;

    &.is-active {
      .p-top-promise__detail {
        grid-template-rows: 1fr;
        padding: 3rem;
        margin-top: 1em;
      }
    }
  }

  &__fixed {
    position: sticky;
    top: 16.05rem;

    @include mq-down(lg) {
      position: static;
    }

    .c-title1 {
      text-align: left;

      @include mq-down(lg) {
        text-align: center;
      }
    }

    .p-top-promise__title {
      color: #733c3c;
      font-size: $fontL;
      font-weight: 600;
      display: flex;
      align-items: flex-start;
      gap: 0.3em;
    }

    .p-top-promise__title > span {
      background-color: #733c3c;
      color: #ffffff;
      padding: 0 0.5rem;
      border-radius: 0.3rem;
      flex-shrink: 0;
    }

    .p-top-promise__detail {
      background: #ffffff;
      box-shadow: 0.2rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
      margin-left: 1em;
      display: grid;
      grid-template-rows: 0fr;
      border-radius: 0.3rem;
      font-size: $fontM;
      transition:
        grid-template-rows 0.3s ease-out,
        padding 0.3s;

      p {
        overflow-y: hidden;
      }
    }
  }

  &__scroll {
    .p-top-promise__title {
      color: #733c3c;
      font-size: $fontL;
      font-weight: 600;
      display: flex;
      align-items: flex-start;
      gap: 0.3em;
      flex-wrap: wrap;
    }

    .p-top-promise__title > span {
      background-color: #733c3c;
      color: #ffffff;
      padding: 0 0.5rem;
      border-radius: 0.3rem;
      flex-shrink: 0;
    }

    .p-top-promise__detail {
      background: #ffffff;
      box-shadow: 0.2rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
      display: grid;
      border-radius: 0.3rem;
      font-size: $fontM;
      padding: 3rem;
      margin-top: 1em;

      @include mq-down(sm) {
        padding: 2rem;
      }
    }

    @include mq-down(lg) {
      margin-top: 6rem;
    }
  }

  &__img {
    margin-bottom: 12rem;

    @include mq-down(lg) {
      margin-bottom: 6rem;
    }

    img {
      @include mq-down(lg) {
        width: 50%;
        display: block;
        margin: 0 auto;
      }

      @include mq-down() {
        width: 100%;
      }
    }

    figcaption {
      display: none;

      @include mq-down(lg) {
        margin-top: 1em;
        display: block;
      }
    }
  }
}
