@use "../../../foundation/variables" as *;

.p-work {
  background-color: #ffffff;
  overflow: hidden;

  &__slider {
    margin-top: 60px;

    .slick-slide {
      margin: 0 15px;
    }

    .slick-dots {
      bottom: -50px;
    }
  }

  &__slider-item {
    &:hover {
      .p-work__title {
        color: $keyColor;
      }
    }
  }

  &__text {
    text-align: center;
    margin-top: 30px;
  }

  &__title {
    text-align: center;
    margin-top: 1em;
    font-weight: 500;
    transition: color 0.5s;
  }
}
