@use "../../foundation/variables" as *;

// 投稿のみ
.l-postContent {
  .c-pageHeader {
    background-image: url("../img/column.jpg");
    background-size: cover;
    background-position: center;
  }

  .l-content {
    display: flex;
    gap: 30px;

    @include mq-down(lg) {
      display: block;
    }
  }

  .l-mainContent {
    flex: 1;
  }

  .l-sidebar {
    width: 100%;
    max-width: 300px;
    flex-shrink: 0;

    @include mq-down(lg) {
      margin-top: 30px;
      max-width: initial;
    }
  }
}
