.p-404 {
  .c-pageHeader {
    background-image: url("../img/search.jpg");
    background-size: cover;
    background-position: center;
  }

  &__inner {
    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
