@use "@scss/templates/single/project/relatedpost";

@use "@scss/foundation/variables" as *;

.t-single {
  .l-mainContent {
    // Highlighting Code Blockでの不具合回避
    flex: initial;
    width: 100%;
    max-width: calc(100% - 33rem);

    @include mq-down(lg) {
      max-width: initial;
    }
  }

  .p-editorContent {
    margin: 6rem 0 12rem;

    @include mq-down(sm) {
      margin: 6rem 0 10rem;
    }
  }
}
