@use "../../foundation/variables" as *;

.t-single {
  .c-pageHeader {
    background-image: url("../img/column.jpg");
    background-size: cover;
    background-position: center;
  }

  .p-editorContent {
    margin: 60px 0 120px;

    @include mq-down(sm) {
      margin: 60px 0 100px;
    }
  }
}
