@use "../../foundation/variables" as *;

.c-pageHeader.-single {
  background-image: url("../img/column.jpg");
  background-size: cover;
  background-position: center;
}

.p-editorContent.-single {
  margin: 60px 0;
}
