@use "../../foundation/variables" as *;

.p-single {
  .c-pageHeader {
    background-image: url("../img/column.jpg");
    background-size: cover;
    background-position: center;
  }

  .l-mainContent {
    &__inner {
      margin: 60px 0;
    }
  }
}
