@use "../../../foundation/variables" as *;

.p-page-price {
  &__inner {
    margin-top: 60px;
  }

  &__plans {
    margin: 60px 0;
  }

  &__plan {
    &:not(:last-of-type) {
      margin-bottom: 60px;
    }
  }

  &__planTItle {
    font-size: $fontL;
  }
}
