@use "@scss/foundation/variables" as *;

.p-price-codingPlan {
  margin-top: 8rem;

  &__items {
    margin-top: 3rem;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 6rem;
    }
  }

  &__h2Title {
    font-size: $fontL;
    font-weight: 700;
    background-color: #98daec;
    color: #ffffff;
    padding: 1.5rem 1rem;
    text-align: center;
    border-radius: 0.5rem;
    text-shadow: 0.1rem 0.2rem 0.5rem #70b4c77f;
  }

  &__h3Title {
    font-size: $fontM;
    font-weight: 600;
    position: relative;
    padding-left: 4rem;

    &::before {
      content: "";
      background-color: #98daec;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 3rem;
      height: 0.5rem;
    }
  }

  &__detail {
    margin-top: 3rem;
  }

  &__table {
    margin-top: 3rem;
    font-weight: 500;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0.2rem 0;
      white-space: nowrap;
    }

    tbody > tr {
      padding: 1rem;
      &:nth-of-type(2n) {
        background-color: #eeeeee;
      }

      td {
        &:first-of-type,
        &:nth-of-type(2) {
          text-align: center;
        }

        &:nth-of-type(2) {
          font-weight: 600;
          font-size: $fontM;
        }
      }
    }

    th,
    td {
      padding: 1rem 2rem;
      vertical-align: middle;
    }

    th {
      background-color: #c5ecf7;
      text-align: center;
    }
  }

  &__tableRes {
    overflow-x: scroll;
  }

  &__tableCaption {
    margin-top: 0.3em;
    color: #aaaaaa;
    font-size: $fontS;
  }
}
