@use "../../../foundation/variables" as *;

.p-price-maintenancePlan {
  margin: 90px 0 0;

  &__title {
    font-size: $fontL;
    font-weight: 700;
    background-color: #98daec;
    color: #ffffff;
    padding: 15px 10px;
    text-align: center;
    border-radius: 5px;
  }

  &__detail {
    margin-top: 60px;
    @include mq-down(sm) {
      margin-top: 30px;
    }

    p {
      &:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }
  }

  &__table {
    margin-top: 30px;
    font-weight: 500;

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 2px 0;
      white-space: nowrap;
    }

    tbody > tr {
      padding: 10px;

      td {
        &:first-of-type,
        &:nth-of-type(2) {
          text-align: center;
        }

        &:nth-of-type(2) {
          font-weight: 600;
          font-size: $fontM;
        }
      }
    }

    th,
    td {
      padding: 10px;
      vertical-align: middle;
    }

    th {
      background-color: #c5ecf7;
      text-align: center;
    }
  }

  &__tableRes {
    overflow-x: scroll;
  }
}
