@use "../../../foundation/variables" as *;

.p-price-plans {
  margin-top: 60px;

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 60px;
    }
  }

  &__title {
    font-size: $fontL;
  }
}
