@use "@scss/foundation/variables" as *;

.p-price-workExample {
  margin-top: 6rem;

  &__inner {
    display: flex;
    gap: 3rem;
    padding: 5.45rem 6rem 3rem;
    background-color: #f5f5f5;

    @include mq-down(lg) {
      align-items: center;
      gap: 6rem;
    }

    @include mq-down() {
      display: block;
    }

    @include mq-down(sm) {
      padding: 5.45rem 3rem 3rem;
    }

    @include mq-down(xs) {
      padding: 5.45rem 2rem 3rem;
    }
  }

  &__left {
    display: none;
    @include mq-down() {
      display: block;
      margin: 3rem 0;
    }
  }

  &__right {
    flex: 1;
  }

  &__title {
    font-size: $fontM;
    font-weight: 700;
    border-bottom: 0.2rem solid #aaaaaa;
    padding-bottom: 0.3em;

    svg {
      margin-right: 0.5em;
    }
  }

  &__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem 0;
  }

  &__list {
    width: calc(50% - 1.5rem);
    border-bottom: 0.1rem dotted #aaaaaa;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 600;
    position: relative;
    padding-left: 1.3em;

    @include mq-down(lg) {
      width: 100%;
    }

    svg {
      color: $subColor;
      position: absolute;
      top: 8%;
      left: 0;
    }
  }

  &__hosoku {
    font-size: $fontS;

    p {
      &:not(:last-of-type) {
        margin-bottom: 0.5em;
      }
    }
  }
}
