@use "../../../foundation/variables" as *;

.p-price-workExample {
  margin-top: 60px;

  &__inner {
    display: flex;
    gap: 30px;
    padding: 54.5px 60px 30px;
    background-color: #f5f5f5;

    @include mq-down(lg) {
      align-items: center;
      gap: 60px;
    }

    @include mq-down() {
      display: block;
    }

    @include mq-down(sm) {
      padding: 54.5px 30px 30px;
    }

    @include mq-down(xs) {
      padding: 54.5px 20px 30px;
    }
  }

  &__left {
    display: none;
    @include mq-down() {
      display: block;
      margin: 30px 0;
    }
  }

  &__right {
    flex: 1;
  }

  &__title {
    font-size: $fontM;
    font-weight: 700;
    border-bottom: 2px solid #aaaaaa;
    padding-bottom: 0.3em;

    svg {
      margin-right: 0.5em;
    }
  }

  &__lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;
  }

  &__list {
    width: calc(50% - 15px);
    border-bottom: 1px dotted #aaaaaa;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 600;
    position: relative;
    padding-left: 1.3em;

    @include mq-down(lg) {
      width: 100%;
    }

    svg {
      color: $subColor;
      position: absolute;
      top: 8%;
      left: 0;
    }
  }

  &__hosoku {
    font-size: $fontS;

    p {
      &:not(:last-of-type) {
        margin-bottom: 0.5em;
      }
    }
  }
}
