@use "@scss/foundation/variables" as *;

.c-breadcrumb {
  background-color: #eeeeee;
  padding: 1rem 0;

  &__inner {
    > span {
      margin: 0 1em;

      &:first-of-type {
        margin: 0 1em 0 0;
      }

      &:last-of-type {
        margin: 0 0 0 1em;
      }
    }

    a {
      transition: color 0.5s;
      &:hover {
        color: $keyColor;
      }
    }
  }
}
