@use "../../foundation/variables" as *;

.c-breadcrumb {
  background-color: #eeeeee;
  padding: 10px 0;

  &__inner {
    > span {
      &:first-of-type {
        margin-right: 1em;
      }

      &:not(:first-of-type) {
        margin-left: 1em;
      }
    }

    a {
      transition: color 0.5s;
      &:hover {
        color: $keyColor;
      }
    }
  }
}
