@use "../../foundation/variables" as *;

.c-button {
  display: flex;
  width: calc(50% - 5px);
  padding: 20px 0;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 6px #aaaaaa;

  &.chatwork {
    background-color: #dcdcdc;

    & img {
      width: 20px;
      margin-right: 10px;
    }
  }

  &.contact {
    background-color: $subColor;
    color: #ffffff;
  }

  &.contact i {
    font-size: 2rem;
    margin-right: 10px;
  }
}
