@use "../../foundation/variables" as *;

@keyframes shiny {
  0% {
    transform: scale(0) rotate(25deg);
    opacity: 0;
  }
  50% {
    transform: scale(1) rotate(25deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(25deg);
    opacity: 0;
  }
}

.c-button2 {
  display: block;
  background-color: #f29949;
  color: #ffffff;
  font-weight: 700;
  font-size: $fontM;
  max-width: 50%;
  min-width: 240px;
  margin: 0 auto;
  text-align: center;
  border-radius: 30px;
  padding: 20px 0;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.3s;
  position: relative;
  box-shadow: 3px 5px #b96921;

  &::after {
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0.5) 100%,
      rgba(255, 255, 255, 0) 0%
    );
    animation-name: shiny;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  &:hover {
    top: 3px;
    box-shadow: initial;
    right: -5px;
  }
}

.c-button3 {
  position: relative;
  padding: 0 0 0 50px;
  margin-top: 60px;

  &:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    background-image: url("../img/button-arrow.svg");
    background-size: cover;
    background-position: right;
    transform: translateY(-50%) scale(-1, 1);
    display: block;
    width: 30px;
    height: 10px;
    transition: 0.5s;
  }

  &:hover {
    &:before {
      left: 0;
      background-image: url("../img/button-arrow-blue.svg");
    }
  }

  a {
    transition: color 0.5s;

    &:hover {
      color: $keyColor;
    }
  }
}
