@use "@scss/foundation/variables" as *;

.c-pageHeader {
  padding: 6rem 0;
  background-color: #eeeeee;
  position: relative;
  background-size: cover;
  background-position: center;

  @include mq-down(sm) {
    text-align: center;
  }

  &__subTitle {
    position: relative;
    z-index: 2;
    font-size: $fontS;
    font-weight: 700;
    color: #ffffff;
  }

  &__title {
    font-size: $fontL;
    font-weight: 700;
    position: relative;
    z-index: 2;
    color: #ffffff;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.5019607843);
    z-index: 1;
  }
}
