.c-prev-next-nav {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  flex-wrap: wrap;

  &__item {
    a {
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
