@use "../../foundation/variables" as *;

.c-title1 {
  font-size: $fontXL;
  text-align: center;
  font-weight: 700;
}

.c-subTitle {
  color: #aaaaaa;
  margin-top: 0.3em;
  @include mq-down(sm) {
    text-align: center;
  }
}
