@use "@scss/foundation/variables.scss" as *;

.l-container {
  box-sizing: border-box;
  max-width: 126rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include mq-down(sm) {
    padding: 0 2rem;
  }
}

.l-slim-container {
  box-sizing: border-box;
  max-width: 86rem;
  margin: 0 auto;
  padding: 0 3rem;

  @include mq-down(sm) {
    padding: 0 2rem;
  }
}

.l-sectionPadding {
  padding: 8rem 0 12rem;

  @include mq-down(sm) {
    padding: 6rem 0 10rem;
  }
}
