@use "../foundation/variables.scss" as *;

.l-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;

  @include mq-down(sm) {
    padding: 0 20px;
  }
}

.l-slim-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: content-box;

  @include mq-down(sm) {
    padding: 0 20px;
  }
}

.l-sectionPadding {
  padding: 80px 0 120px;

  @include mq-down(sm) {
    padding: 60px 0 100px;
  }
}
