@use "@scss/foundation/variables" as *;

.l-content {
  @include mq-down(lg) {
    margin-top: var(--headerHeight);
  }

  &__inner {
    display: flex;
    gap: 3rem;
    padding: 8rem 0 12rem;

    @include mq-down(lg) {
      display: block;
    }

    @include mq-down(sm) {
      padding: 6rem 0 10rem;
    }

    .l-mainContent {
      flex: 1;
    }

    .l-sidebar {
      width: 100%;
      max-width: 30rem;
      flex-shrink: 0;

      @include mq-down(lg) {
        margin-top: 3rem;
        max-width: initial;
      }
    }
  }
}
