@use "../foundation/variables" as *;

.l-content {
  @include mq-down(lg) {
    margin-top: 59px;
  }

  &__inner {
    display: flex;
    gap: 30px;
    padding: 60px 0 120px;

    @include mq-down(lg) {
      display: block;
    }

    @include mq-down(sm) {
      padding: 60px 0 100px;
    }

    .l-mainContent {
      flex: 1;
    }

    .l-sidebar {
      width: 100%;
      max-width: 300px;
      flex-shrink: 0;

      @include mq-down(lg) {
        margin-top: 30px;
        max-width: initial;
      }
    }
  }
}
