@use "@scss/foundation/variables" as *;

.l-footer {
  padding: 2rem 0 2rem;
  color: #ffffff;
  background-color: #333333;

  &__navi-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__navi-item {
    padding: 0 1em;
    border-left: 0.1rem solid #ffffff;

    @include mq-down() {
      font-size: $fontS;
    }

    @include mq-down(xs) {
      font-size: 1.1rem;
    }

    &:last-of-type {
      border-right: 0.1rem solid #ffffff;
    }

    a {
      color: #ffffff;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__copyright {
    text-align: center;
  }
}
