@use "../foundation/variables" as *;

.l-footer {
  &__navi {
    background-color: #333333;
    padding: 20px 0 10px;
  }

  &__navi-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__navi-item {
    padding: 0 1em;
    border-left: 1px solid #ffffff;

    @include mq-down() {
      font-size: $fontS;
    }

    @include mq-down(xs) {
      font-size: 1.1rem;
    }

    &:last-of-type {
      border-right: 1px solid #ffffff;
    }

    a {
      color: #ffffff;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__copyright {
    text-align: center;
    background-color: #333333;
    color: #ffffff;
    padding: 10px 0 20px;
  }
}
