@use "../foundation/variables.scss" as *;

.l-header {
  background-color: #ffffff;
  box-shadow: 0 3px 5px #6d6d6d40;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;

  @include mq-down(){
    position: fixed;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    max-width: 180px;
    padding: 20px 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    @include mq-down(xs) {
      max-width: 150px;
    }
  }

  &__nav {
    @include mq-down() {
      display: none;
    }
  }

  &__drawerBtn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;

    @include mq-down {
      display: block;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: $fontM;
      transition: 0.3s;
    }

    .fa-bars {
      z-index: 2;
    }

    .fa-xmark {
      z-index: 1;
      opacity: 0;
    }
  }
}

.l-header__drawerBtn.is-open {
  .fa-bars {
    transform: translateX(-50%) translateY(-50%) rotate(720deg);
    opacity: 0;
    z-index: 1;
  }

  .fa-xmark {
    transform: translateX(-50%) translateY(-50%) rotate(720deg);
    z-index: 2;
    opacity: 1;
  }
}
