@use "@scss/foundation/variables.scss" as *;

.l-header {
  background-color: #ffffff;
  box-shadow: 0 0.3rem 0.5rem #6d6d6d40;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;

  @include mq-down(lg) {
    position: fixed;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 100%;
    max-width: 18rem;
    padding: 2rem 0;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    @include mq-down(xs) {
      max-width: 15rem;
    }
  }

  &__nav {
    @include mq-down(lg) {
      display: none;
    }
  }

  &__drawerBtn {
    display: none;
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    @include mq-down(lg) {
      display: block;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: $fontM;
      transition:
        transform 0.3s,
        opacity 0.3s;
    }

    .fa-bars {
      z-index: 2;
    }

    .fa-xmark {
      z-index: 1;
      opacity: 0;
    }
  }
}

.l-header__drawerBtn.is-open {
  .fa-bars {
    transform: translateX(-50%) translateY(-50%) rotate(720deg);
    opacity: 0;
    z-index: 1;
  }

  .fa-xmark {
    transform: translateX(-50%) translateY(-50%) rotate(720deg);
    z-index: 2;
    opacity: 1;
  }
}
