@use "../../../foundation/variables" as *;

// p-single-newsとスタイルが共通する部分はp-single-news内に記述しています。

.p-archive-news {
  &__title {
    font-size: $fontL;
    font-weight: 700;
    @include mq-down(sm) {
      text-align: center;
    }
  }

  &__titleEn {
    color: #aaaaaa;
    margin-top: 0.3em;
    @include mq-down(sm) {
      text-align: center;
    }
  }
}
