@use "@scss/foundation/variables" as *;

.p-single-news-title {
  .c-title1 {
    text-align: left;

    @include mq-down(lg) {
      text-align: center;
    }
  }

  @include mq-down(lg) {
    text-align: center;
    padding-bottom: 0.3em;
    border-bottom: 0.1rem solid #cccccc;
  }
}
