@use "../../../foundation/variables" as *;

.p-archive-work {
  &__inner {
    padding: 60px 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    row-gap: 30px;
  }

  &__item {
    width: calc(25% - 22.5px);

    @include mq-down(lg) {
      width: calc(calc(100% / 3) - 20px);
    }

    @include mq-down() {
      width: calc(50% - 15px);
    }

    @include mq-down(sm) {
      width: 100%;
    }

    &:hover {
      .p-archive-work__photo {
        opacity: 0.7;
      }
    }
  }

  &__photo {
    transition: opacity 0.5s;
  }

  &__industry {
    margin: 2em 0 1em;
    padding: 5px 10px;
    background-color: #eeeeee;
    text-align: center;
    font-weight: 500;
  }

  &__title {
    text-align: center;
    font-weight: 500;
  }
}
