@use "@scss/foundation/variables" as *;

.p-drawerMenu {
  &__items {
    overflow: hidden;
    transition: padding 0.3s;
  }

  &__item {
    border-bottom: 0.1rem dotted #aaaaaa;
    position: relative;

    &:first-of-type {
      border-top: 0.1rem dotted #aaaaaa;
    }

    a {
      display: block;
      width: 100%;
      padding: 0.5em 0;
    }

    span {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      color: #777777;
      font-size: 1.1rem;
    }
  }

  .l-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;
  }

  &.is-show {
    .l-container {
      grid-template-rows: 1fr;

      .p-drawerMenu__items {
        padding: 3rem 0;
      }
    }

    @include mq-up(lg) {
      display: none;
    }
  }
}
