@use "../../foundation/variables" as *;

.p-drawerMenu {
  &__items {
    overflow: hidden;
    transition: padding 0.3s;
  }

  &__item {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px dotted #aaaaaa;

    &:first-of-type {
      border-top: 1px dotted #aaaaaa;
      padding-top: 0.5em;
    }

    a {
      position: relative;
      &::after {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateX(calc(100% + 20px));
        color: #777777;
        font-size: 1.1rem;
      }
    }
  }

  &__home a {
    &::after {
      content: "HOME";
    }
  }

  &__about a {
    &::after {
      content: "ABOUT";
    }
  }

  &__service a {
    &::after {
      content: "SERVICE";
    }
  }

  &__news a {
    &::after {
      content: "NEWS";
    }
  }

  &__contact a {
    &::after {
      content: "CONTACT";
    }
  }

  .l-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;
  }

  &.is-show {
    .l-container {
      grid-template-rows: 1fr;

      .p-drawerMenu__items {
        padding: 30px 0;
      }
    }

    @include mq-up() {
      display: none;
    }
  }
}
