@use "../../foundation/variables" as *;

// ブロック間の余白調整
.p-editorContent {
  > * {
    clear: both;
    margin-bottom: 1em;
  }

  > :first-child {
    margin-top: 0 !important;
  }

  > :last-child,
  dd > :last-child,
  div > :last-child {
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: $fontL;
  }

  h3 {
    font-size: $fontM;
  }

  ul,
  ol {
    padding-left: 1em;

    li {
      margin: 0.2em 0;

      &::marker {
        margin: 0;
        padding: 0;
      }

      ul,
      ol {
        margin-left: 1em;
        margin-top: 0.2em;
      }

      ul {
        li {
          list-style-type: circle;
        }
      }
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &:not(pre) code {
    align-items: center;
    color: #333333;
    display: inline-flex;
    font-size: 0.9em;
    letter-spacing: 0;
    line-height: 1;
    background: #f7f7f7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 0px 0.5em;
    padding: 0.25em 0.5em;
  }
}
