@use "../../foundation/variables" as *;

// ブロック間の余白調整
.p-editorContent {
  > * {
    clear: both;
    margin-bottom: 1em;
  }

  > :first-child {
    margin-top: 0 !important;
  }

  > :last-child,
  dd > :last-child,
  div > :last-child {
    margin-bottom: 0 !important;
  }

  h2 {
    font-size: $fontL;
    background-color: #d5f3fd;
    border-left: 3px solid $keyColor;
    padding: 0.3em 0.5em;

    margin: 2em 0 0.8em;
  }

  h3 {
    font-size: $fontM;
    border-bottom: 3px solid $keyColor;
    padding-bottom: 0.3em;
    margin: 2em 0 0.8em;
  }

  h4 {
    border-left: 3px solid $keyColor;
    padding: 0 0.5em;
    margin: 2em 0 0.8em;
  }
}
