@use "@scss/foundation/variables" as *;

// ブロック間の余白調整

@mixin editorContent {
  > * {
    margin-bottom: 1em;
  }

  > *:not(p) {
    clear: both;
  }

  > :first-child {
    margin-top: 0 !important;
  }

  > :last-child {
    margin-bottom: 0 !important;
  }

  h1,
  h2 {
    margin: 2em 0 0.8em;
    font-size: $fontL;
  }

  h3 {
    margin: 2em 0 0.8em;
    font-size: $fontM;
  }

  h4 {
    margin: 1.5em 0 1em;
    font-size: $fontM;
  }

  h5,
  h6 {
    font-size: 1.6rem;
  }

  p {
    line-height: 1.4;
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &:not(pre) code {
    color: #333333;
    font-size: 0.9em;
    letter-spacing: 0;
    line-height: 1;
    background: #f7f7f7;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    margin: 0 0.3em;
    padding: 0.25em 0.5em;
  }

  blockquote {
    position: relative;
    padding: 3rem 1.5rem 1rem;
    box-sizing: border-box;
    background: #efefef;
    color: #555;
    border-left: 0.5rem solid #18c1f0;

    &:before {
      content: "";
      display: inline-block;
      width: 3rem;
      height: 2rem;
      position: absolute;
      top: 1rem;
      left: 1.5rem;
      background-image: url("@img/quotation.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom center;
    }

    p {
      padding: 0;
      margin: 1rem 0;
      line-height: 1.7;
    }

    cite {
      display: block;
      text-align: right;
      color: #888888;
      font-size: 0.9em;
    }
  }

  table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.6;
    max-width: 100%;
    text-align: left;
  }

  dl {
    dt {
      font-weight: 900;
    }

    dd {
      margin-left: 1em;
    }
  }

  ul,
  ol {
    margin-left: 1em;

    li {
      margin: 0.2em 0;

      &::marker {
        margin: 0;
        padding: 0;
      }

      ul {
        li {
          list-style-type: disc;
        }
      }

      ol {
        li {
          list-style-type: decimal;
        }
      }
    }
  }

  ul {
    li {
      list-style-type: disc;
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }

  pre {
    overflow-x: auto;
    padding: 0.5em;
  }

  sub,
  sup {
    font-size: 0.6em;
  }

  sup {
    vertical-align: super;
  }

  img {
    width: auto;
    height: auto;
  }

  .alignleft {
    float: left;
  }

  .alignright {
    float: right;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .wp-caption {
    max-width: 100%;
    width: 100%;

    img {
      display: block;
    }

    .wp-caption-text {
      margin-top: 1em;
      font-size: 0.8em;
      text-align: center;
    }
  }
}

//フロント側
.p-editorContent {
  @include editorContent();
}
