.p-flow {
  background-color: #ffffff;

  &__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    p {
      font-size: 2rem;
      font-weight: 600;
    }
  }

  &__step {
    display: grid;
  }
}
