.p-gnav {
  display: flex;

  &__item {
    & a {
      display: block;
      padding: 20px 15px;
    }

    & a::after {
      font-size: 11px;
      color: #777777;
      text-align: center;
      display: block;
      margin-top: 5px;
    }

    &.home a::after {
      content: "HOME";
    }

    &.news a::after {
      content: "NEWS";
    }

    &.service a::after {
      content: "SERVICE";
    }

    &.contact a::after {
      content: "CONTACT";
    }
  }
}
