@use "../../foundation/variables" as *;

// メインビジュアル
.p-mainVisual {
  position: relative;
  min-height: calc(400px + 5vw);
  display: flex;
  align-items: center;
  padding: 30px 0;

  @include mq-down() {
    margin-top: 59px;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    background-image: url("../img/website-thumbnail.jpg");
    background-size: cover;
    position: absolute;
    z-index: -1;
    animation: fadeIn 3s ease-in-out forwards;

    &::after {
      @include mq-down() {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        z-index: 1;
        background: #33333380;
      }
    }
  }

  &__inner {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: $fontXL;
    font-weight: 700;
    margin-bottom: 0.8em;

    @keyframes flashing {
      0%,
      100% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      border-right: 10px solid #333;
      margin-left: 0.5em;
      animation: flashing 1s linear infinite;
      opacity: 0;

      @include mq-down() {
        border-right: 10px solid #ffffff;
      }
    }

    @include mq-down() {
      text-align: center;
      color: #ffffff;
    }
  }

  &__text,
  &__button {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 0.3s;
    &.is-show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__text {
    @include mq-down() {
      color: #ffffff;
    }

    li {
      position: relative;
      padding-left: 1.2em;
    }

    svg {
      color: $subColor;
      position: absolute;
      top: 8%;
      left: 0;
    }

    p {
      margin-top: 0.3em;
      padding-left: 1.2em;
    }
  }

  &__button {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    margin-top: 15px;
    gap: 10px;

    @include mq-down() {
      max-width: initial;
    }

    @include mq-down(sm) {
      flex-direction: column;
    }
  }

  .c-button {
    width: 50%;
    @include mq-down(sm) {
      width: 100%;
    }
  }
}
