@use "../../foundation/variables" as *;

.p-promise {
  background: rgb(240, 240, 240);
  background: linear-gradient(
    82deg,
    rgba(240, 240, 240, 1) 0%,
    rgba(239, 239, 239, 1) 57%
  );

  &__inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    position: relative;
  }

  &__items {
    margin-top: 60px;
  }

  &__item {
    margin-bottom: 30px;

    &.is-active {
      .p-promise__detail {
        grid-template-rows: 1fr;
        padding: 30px;
      }
    }
  }

  &__fixed {
    position: sticky;
    top: calc(60px + var(--headerHeight));
  }

  &__title {
    color: #733c3c;
    font-size: $fontL;
    font-weight: 600;
  }

  &__title span {
    background-color: #733c3c;
    color: #ffffff;
    padding: 0px 5px;
    border-radius: 3px;
    display: inline-block;
  }

  &__detail {
    background: #ffffff;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    margin-left: 1em;
    margin-top: 1em;
    display: grid;
    grid-template-rows: 0fr;
    border-radius: 3px;
    font-size: $fontM;

    transition: 0.3s ease-out;

    p {
      overflow-y: hidden;
    }
  }

  &__img {
    margin-bottom: 120px;
  }
}
