@use "../../foundation/variables" as *;

.u-inline-block {
  display: inline-block;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-text--left {
  text-align: left;
}

.u-text--center {
  text-align: center;
}

.u-flex--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.u-xs--show {
  display: none;
  @include mq-down(xs) {
    display: block;
  }
}

.u-md--hide {
  display: block;

  @include mq-down() {
    display: none;
  }
}
