@use "../../foundation/variables" as *;
.u-inline-block {
  display: inline-block;
}

.u-md--hide {
  display: block;

  @include mq-down() {
    display: none;
  }
}

.u-mb0 {
  margin-bottom: 0 !important;
}

.u-pt0 {
  padding-top: 0 !important;
}

.u-text--left {
  text-align: left;
}

.u-text--center {
  text-align: center;
}

.u-emphasis--pink {
  background-image: radial-gradient(
    circle at center,
    #e49cac 30%,
    transparent 30%
  );
  background-position: top right;
  background-repeat: repeat-x;
  background-size: 1em 0.3em;
  padding-top: 0.5em;
}
