@use "@scss/foundation/variables" as *;

.p-archive-work {
  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 6rem;
    gap: 3rem;
  }

  &__noItem {
    margin-top: 6rem;
  }

  &__item {
    width: calc(25% - 2.25rem);

    @include mq-down(lg) {
      width: calc(calc(100% / 3) - 2rem);
    }

    @include mq-down() {
      width: calc(50% - 1.5rem);
    }

    @include mq-down(sm) {
      width: 100%;
    }

    &:hover {
      .p-archive-work__siteImg {
        opacity: 0.7;
      }
    }
  }

  &__siteImg {
    transition: opacity 0.5s;
  }

  &__industry {
    margin: 2em 0 1em;
    padding: 0.5rem 1rem;
    background-color: #eeeeee;
    text-align: center;
    font-weight: 500;
  }

  &__title {
    text-align: center;
    font-weight: 500;
  }

  &__search {
    margin-top: 3rem;
  }

  &__searchTitle {
    text-align: center;
    font-weight: 700;
    font-size: $fontM;
    background-color: #eeeeee;
    padding: 1rem 0;

    > svg {
      margin-right: 0.5em;
    }
  }

  &__searchArea {
    padding: 3rem;
    border-bottom: 0.2rem dotted #cccccc;
    transition: padding 0.3s;

    @include mq-down() {
      padding: 3rem 0;
    }

    @include mq-down(sm) {
      padding: 2rem 0;
    }
  }

  &__searchItem {
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
    > dl {
      display: flex;

      @include mq-down() {
        display: block;
      }

      > dt {
        width: 100%;
        max-width: 15rem;
        font-weight: 600;

        @include mq-down() {
          max-width: initial;
          margin-bottom: 0.3em;
          line-height: 1;
        }
      }

      > dd {
        font-size: 0;
        flex: 1;

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"]:checked + label {
          background-color: $subColor;
          color: #ffffff;
        }

        label {
          cursor: pointer;
          display: inline-block;
          line-height: 1;
          padding: 0.5rem 0.8rem;
          color: $subColor;
          border-radius: 0.3rem;
          border: 0.1rem solid $subColor;
          font-weight: 600;
          font-size: 1.6rem;
          margin: 0.25rem;
        }
      }
    }
  }

  &__searchBtns {
    margin-top: 3rem;
    text-align: center;

    > input {
      appearance: none;
      -webkit-appearance: none;
      display: inline-block;
      padding: 1rem 3rem;
      margin: 0 auto;
      background-color: #f29949;
      border: none;
      border-radius: 0.5rem;
      font-weight: 600;
      font-size: $fontM;
      color: #fff;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
