@use "../../../foundation/variables" as *;

.p-archive-work {
  &__items {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 30px;
  }

  &__noItem {
    margin-top: 60px;
  }

  &__item {
    width: calc(25% - 22.5px);

    @include mq-down(lg) {
      width: calc(calc(100% / 3) - 20px);
    }

    @include mq-down() {
      width: calc(50% - 15px);
    }

    @include mq-down(sm) {
      width: 100%;
    }

    &:hover {
      .p-archive-work__siteImg {
        opacity: 0.7;
      }
    }
  }

  &__siteImg {
    transition: opacity 0.5s;
  }

  &__industry {
    margin: 2em 0 1em;
    padding: 5px 10px;
    background-color: #eeeeee;
    text-align: center;
    font-weight: 500;
  }

  &__title {
    text-align: center;
    font-weight: 500;
  }

  &__search {
    margin-top: 30px;
  }

  &__searchTitle {
    text-align: center;
    font-weight: 700;
    font-size: $fontM;
    background-color: #eeeeee;
    padding: 10px 0;

    > svg {
      margin-right: 0.5em;
    }
  }

  &__searchArea {
    padding: 30px;
    border-bottom: 2px dotted #cccccc;
    transition: padding 0.3s;

    @include mq-down() {
      padding: 30px 0;
    }

    @include mq-down(sm) {
      padding: 20px 0;
    }
  }

  &__searchItem {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
    > dl {
      display: flex;

      @include mq-down() {
        display: block;
      }

      > dt {
        width: 100%;
        max-width: 150px;
        font-weight: 600;

        @include mq-down() {
          max-width: initial;
          margin-bottom: 0.3em;
          line-height: 1;
        }
      }

      > dd {
        font-size: 0;
        flex: 1;

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"]:checked + label {
          background-color: $subColor;
          color: #ffffff;
        }

        label {
          cursor: pointer;
          display: inline-block;
          line-height: 1;
          padding: 5px 8px;
          color: $subColor;
          border-radius: 3px;
          border: 1px solid $subColor;
          font-weight: 600;
          font-size: 1.6rem;
          margin: 2.5px;
        }
      }
    }
  }

  &__searchBtns {
    margin-top: 30px;
    text-align: center;

    > input {
      appearance: none;
      -webkit-appearance: none;
      display: inline-block;
      padding: 10px 30px;
      margin: 0 auto;
      background-color: #f29949;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      font-size: $fontM;
      color: #fff;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
