@use "@scss/foundation/variables" as *;

.page-about {
  .l-content__inner {
    display: block;
    padding: 0;
  }
}

.p-about {
  &-sec01 {
    background-color: #c5ecf7;
    margin-left: calc(-50 * (var(--vw)) + 50%);
    margin-right: calc(-50 * (var(--vw)) + 50%);

    &__intro {
      margin-top: 3rem;
      text-align: center;

      p {
        &:not(:last-of-type) {
          margin-bottom: 1em;
        }
      }
    }

    &__table {
      max-width: 80rem;
      margin: 3rem auto 0;
      background-color: #ffffff;
      box-shadow: 0.2rem 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
      padding: 3rem;
      gap: 3rem;
      border-radius: 1rem;
    }

    &__tableInner {
      display: flex;
      justify-content: space-between;
      border-bottom: 0.1rem dotted #aaaaaa;
      margin-bottom: 0.8em;
      padding-bottom: 0.8em;

      @include mq-down(sm) {
        display: block;
      }

      dt {
        max-width: 15rem;
        width: 100%;
        flex-shrink: 0;
        font-weight: 600;

        @include mq-down(sm) {
          max-width: initial;
        }
      }

      dd {
        flex: 1;

        @include mq-down(sm) {
          margin-top: 0.3em;
        }
      }

      li {
        position: relative;
        padding-left: 1.2em;

        &:before {
          content: "";
          width: 0.5em;
          height: 0.5em;
          border-radius: 50%;
          background-color: $keyColor;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &-sec02 {
    &__inner {
      display: flex;
      gap: 3rem;
      margin-top: 3rem;

      @include mq-down(sm) {
        flex-direction: column;
      }
    }

    &__photo {
      max-width: 20rem;

      @include mq-down(sm) {
        align-self: center;
      }

      img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &__detail {
      flex: 1;

      .c-snslinks {
        margin-top: 3rem;
      }
    }

    &__text {
      p {
        &:not(:last-of-type) {
          margin-bottom: 1em;
        }
      }
    }
  }
}
