@use "@scss/foundation/variables" as *;

.p-archive-news {
  .l-content__inner {
    align-items: flex-start;
    gap: 6rem;

    @include mq-down(lg) {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    .l-mainContent {
      order: 2;
      position: relative;

      @include mq-down(lg) {
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: #cccccc;
        left: -5rem;
        top: 0;
        @include mq-down(lg) {
          display: none;
        }
      }
    }

    .l-sidebar {
      order: 1;
      position: sticky;
      top: 160.5px;
      left: 0;

      @include mq-down(lg) {
        position: static;
        margin-top: 0;
      }
    }

    .p-editorContent {
      margin: 6rem 0 12rem;

      @include mq-down(sm) {
        margin: 6rem 0 10rem;
      }
    }
  }
}
