@use "@scss/editorcontent" as *;

.editor-styles-wrapper {
  @include editorContent();

  //タイトルの調整
  .editor-post-title .editor-post-title__input,
  h1.editor-post-title__input {
    padding: 35px 0;
  }

  //見出しサイズの調整(フロント側ではreset.cssを読み込んでいるため1rem=10で計算されるが、エディター側では16のままのため。)
  h1,
  h2 {
    font-size: 26px !important;
  }

  h3,
  h4 {
    font-size: 20px !important;
  }

  h5,
  h6 {
    font-size: 16px;
  }
}
