@use "../../foundation/variables" as *;

.p-top-news {
  background-color: #eeeeee;

  &__items {
    position: relative;
    overflow: hidden;
  }

  &__item {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: 0.8em;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    padding: 10px 0;
    transition: top 1s, opacity 1s;

    &.is-show {
      position: sticky;
      top: 0;
      opacity: 1;
    }
  }

  &__category {
    a {
      padding: 0.1em 0.6em;
      transition: color 0.5s, background-color 0.5s;
      border: 1px solid $keyColor;
      color: #ffffff;
      background-color: $keyColor;

      &:hover {
        color: $keyColor;
        border: 1px solid $keyColor;
        background-color: #ffffff;
      }
    }
  }

  &__title {
    line-height: 1;
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
